/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container,
.form-container {
    width: 90%;
    height: 90%;
    margin-left: 50px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    margin-right:-50px;
   
}

.image-container .image-box {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Form Container */
.form-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.form-container button {
    padding: 10px;
    background-color: #23a53f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #36b70f;
}

.form-container p {
    margin-top: 20px;
    color: #555;
}

.form-container a {
    color: #343a40bff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .image-container,
    .form-container {
        width: 100%;
        height: auto;
    }
    
    .form-container {
        padding: 20px;
    }
    
    .image-container {
        height: 200px;
    }
}
